/* AboutUsPage.css */

.about-us-container {
    text-align: center;
    padding: 20px;
    position: relative;
    min-height: 100vh; /* Minimum height for scrolling */
    overflow-y: auto; /* Enable vertical scrolling when content overflows */
  }

  .about-us-content {
    margin: 0 auto;
    max-width: 800px; /* Limit content width */
  }

.mission-statement {
  text-align: left;
}

/* AboutUsPage.css */
h1 {
  color: #333333; /* Change the header text color */
  font-size: 50px; /* Increase the font size to make it a little bigger */
}


  p {
    color: #333; /* Change the paragraph text color */
  }

/* AboutUsPage.css */
.centered-image {
  display: block; /* Ensure the image is a block element */
  margin: 0 auto; /* Center the image horizontally */
  max-width: 50%; /* Limit the image width to 50% of its container */
  height: auto; /* Maintain the image's aspect ratio */
}

.centered-text-container {
  text-align: center;
  margin: 0 auto;
  max-width: 800px; /* Adjust this value to control the maximum width of the text container */
  padding: 20px;
}