.homepage {
    text-align: center;
<<<<<<< Updated upstream
    background-color: #c0dfa7; /* Light green for the background */
    padding: 20px;
  }
  
  .header {
    background-color: #5f9367; /* Darker green for the header */
    padding: 20px;
    border-radius: 10px;
    color: #fff;
  }
  
  .feature {
    background-color: #f8d49d; /* Light yellow for feature blocks */
    border: 2px solid #ba8b57; /* Darker yellow border */
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    color: #111111; /* Dark text for contrast */
  }
  
=======
    
    background-size: cover;  /* Adjust as needed */
   
    background-repeat: no-repeat;
    
  }
>>>>>>> Stashed changes
