body{
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
}
.ready2go {
  color: #fff;
}
.ready2goBtn{
  position: relative;
  background-color: #f0d4cd;
  border-radius: 100px;
  width: 200px;
  height: 200px;
  border: none;
  font-size: 30px;
  color: #fff;
  overflow: hidden;
}
.ready2goBtn span {
  position: relative;
  z-index: 1;
}
.ready2goBtn::before{
  content: '';
  position: absolute;
  top: var(--x);
  left: var(--y);
  transform: translate(-50%,-50%);
  opacity: 50%;
  width: 0;
  height: 0;
  border-radius: 50%;
  background: #fff;
  color: #f0d4cd;
  transition: width 0.5s, height 0.5s;
  overflow: hidden;
  
}
.ready2goBtn:hover::before{
  width: 300px;
  height: 300px;
  
}
.ready2goBtn::after{
  background-color: coral;
}



.pulse {
  animation-name: pulse;
  animation-timing-function: ease-in-out;
}


.r2gBox{
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  text-align: center;
  padding-bottom: 200px;
}
